{% extends 'base.html' %}
{% block title %}Adversários|Realmatismo Fc {% endblock %}
{% block main %}
    <ul class="collection with-header">
        <li class="collection-header"><h4 class="center">Adversários</h4><hr class="deep-orange"></li>
    {% for adversario in adversarios %}
        <li class="collection-item avatar">
            <img src="media/{{ adversario.imagem }}" alt="" class="circle">
            <span class="title">{{ adversario.nome }}</span>
            <a></a>
        </li>
    {% empty %}
        Sem Adversários
    {% endfor %}
    </ul>
{% endblock %}