{% extends 'base.html' %}
{% block title %}Atletas|Realmatismo Fc {% endblock %}
{% block main %}
    <ul class="collection with-header">
        <li class="collection-header"><h4>Atletas</h4></li>
    {% for atleta in atletas %}
        <li class="collection-item avatar">
            <img src="media/{{ atleta.imagem }}" alt="" class="circle">
            <span class="title">{{ atleta.nome }} "{{ atleta.apelido }}" {{ atleta.sobrenome }}</span>
            <a href="{% url 'atleta' atleta.pk %}" class="secondary-content"><i class="fas fa-user" aria-hidden="true"></i> Detalhes</a>
        </li>
    {% empty %}
        Sem atletas
    {% endfor %}
    </ul>
{% endblock %}