{% extends 'base.html' %}
{% block title %}{{ atleta.nome }}|Realmatismo Fc {% endblock %}
{% block main %}

     <div class="row" style="margin-top: 20px">
    <!-- User Profile Feed -->
        <div class="col s12 m4 l4 user-section-negative-margin">
          <div class="row" style="color: #5a5a5a">
            <div class="col s12 center-align">
              <img class="responsive-img circle z-depth-5" width="200"
                   src="../media/{{atleta.imagem}}" alt="">
            </div>
              <!-- src="../media/{{atleta.imagem}}" -->
          </div>
        </div>

        <div class="row">
            <div class="col s12 m5 l8">
                <div class="card-panel orange"  style="background: linear-gradient(45deg, #ff9800 0%, #ffe0b2 100%);">
                    <span style="font-size: 17px" class="white-text">Nome: {{ atleta.nome }}</span>
                <br/>
                    <span style="font-size: 17px"  class="white-text"> Sobrenome: {{ atleta.sobrenome }} </span>
                            <br />
                    <span style="font-size: 17px"  class="white-text"> Apelido: {{ atleta.apelido }} </span>
                            <br />
                    <span style="font-size: 17px"  class="white-text"> Idade : {{ atleta.idade }} </span>
                            <br>
                    <span style="font-size: 17px"  class="white-text">Número: {% if atleta.numero_camisa is None %} </span>
                                        Sem número
                                    {% else %}
                                         {{ atleta.numero_camisa }}
                                    {% endif %}
                        <br />
                    <span style="font-size: 17px"  class="white-text"> Status: {{ atleta.status }} </span>
                </div>
            </div>
        </div>
     </div>

     <div class="row" style="margin-top: -50px">

        <h4 class="col s12 center-align">Dados</h4>

        <div class="col s6">
            <div class="card-panel blue accent-1 center-align z-depth-2"  style="background: linear-gradient(45deg, #00b0ff 0%, #ffe0b2 100%);">
                <span style="font-size: 16px; font-weight: bold">Jogos</span><br>
                <span style="font-size: 18px">{{ atleta.jogos_realizados }}</span>
            </div>
        </div>

        <div class="col s6">
          <div class="card-panel blue accent-1 center-align z-depth-2" style="background: linear-gradient(45deg, #00b0ff 0%, #ffe0b2 100%);">
                <span style="font-size: 16px; font-weight: bold">Gols/Média</span><br>
                <span style="font-size: 18px">{{ atleta.gols }} / {{ atleta.media_gols }}</span>
            </div>
        </div>

        <div class="col s6">
            <div class="card-panel blue accent-1 center-align z-depth-2" style="background: linear-gradient(45deg, #00b0ff 0%, #ffe0b2 100%);">
                <span style="font-size: 16px; font-weight: bold">Assist./Média</span><br>
                <span style="font-size: 18px">{{ atleta.assistencia }} / {{ atleta.media_assistencia }}</span>
            </div>
        </div>

        <div class="col s6">
            <div class="card-panel blue accent-1 center-align z-depth-2" style="background: linear-gradient(45deg, #00b0ff 0%, #ffe0b2 100%);">
                <span style="font-size: 16px; font-weight: bold">Defesas/Média</span><br>
                <span style="font-size: 18px">{{ atleta.defesa }} / {{ atleta.media_defesa }}</span>
            </div>
        </div>

        <div class="col s6">
            <div class="card-panel blue accent-1 center-align z-depth-2" style="background: linear-gradient(45deg, #00b0ff 0%, #ffe0b2 100%);">
                <span style="font-size: 16px; font-weight: bold">Minutos</span><br>
                <span style="font-size: 18px">{{ atleta.minutos}}</span>
            </div>
        </div>

         <div class="col s6">
            <div class="card-panel blue accent-1 center-align z-depth-2" style="background: linear-gradient(45deg, #00b0ff 0%, #ffe0b2 100%);">
                <span style="font-size: 16px; font-weight: bold">Aproveitamento</span><br>
                <span style="font-size: 18px">{{ atleta.taxa_presente }}</span>
            </div>
        </div>
     </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Conquistas
                    </span>

                    <ul class="collection">
                    {% for c in atleta.conquistas.all %}
                        <li class="collection-item avatar">
                            <img src="../../media/{{c.conquista.imagem}}" alt=""  class="circle">
                            <span class="title">{{c}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}