<div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Defesas</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Defesas</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in lista %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.defesa }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>

                </div>
            </div>
        </div>