{% extends 'base.html' %}
{% block title %}Estatisticas|Realmatismo Fc {% endblock %}
{% block main %}

    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Artilharia
                        <hr class="deep-orange">
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Gols</th>
                                <th>Média</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in artilharia %}
                                <tr>
                                    <td>{{ atleta.nome}}</td>
                                    <td>{{ atleta.gols }}</td>
                                    <td>{{ atleta.media_gols }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="{% url 'artilharia' %}">Ver lista completa</a>
                </div>
            </div>
        </div>

        {% for t in teste %}
            {{ t }}
        {% endfor %}

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Assistências
                        <hr class="deep-orange">
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Assis.</th>
                                <th>Média</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in passadores %}
                                {% if atleta.assistencia  %}
                                
                                {% endif %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.assistencia }}</td>
                                    <td>{{ atleta.media_assistencia }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="{% url 'assistencias' %}">Ver lista completa</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Desempenho
                        <hr class="deep-orange">
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Taxa Aproveitamento</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in aproveitamento %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.taxa_presente }} %</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="{% url 'desempenho' %}">Ver lista completa</a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Defesas
                        <hr class="deep-orange">
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Defesas</th>
                                <th>Média</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in defesas %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.defesa }}</td>
                                    <td>{{ atleta.media_defesa }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="{% url 'defesas' %}">Ver lista completa</a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Jogos Disputados
                        <hr class="deep-orange">
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Jogos</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in jogos_jogados %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.jogos_realizados }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="{% url 'jogos-jogados' %}">Ver lista completa</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Minutos Jogados
                        <hr class="deep-orange">
                    </span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Jogos</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in minutos %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.minutos }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="{% url 'minutos' %}">Ver lista completa</a>
                </div>
            </div>
        </div>

    </div>



{% endblock %}