{% extends 'base.html' %}
{% block title %}Estatisticas|Realmatismo Fc {% endblock %}
{% block main %}

    <div class="row">
        <div class="col s12">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Dados Equipe</span>
                    <table class="responsive-table">

                        <tr>
                            <th>J</th>
                            <th>V</th>
                            <th>E</th>
                            <th>D</th>
                            <th>GP</th>
                            <th>GS</th>
                            <th>S</th>
                        </tr>

                        <tr>
                            <td style="color: dimgrey">{{ total }}</td>
                            <td style="color: green">{{ vitoria }}</td>
                            <td style="color:dimgrey">{{ empate }}</td>
                            <td style="color: red">{{ derrota }}</td>
                            <td style="color: green">{{ gols_favor }}</td>
                            <td style="color: red">{{ gols_contra }}</td>
                            <td style="color: {% if saldo > 0 %}green{% else %}red{% endif %}">
                                {{ saldo }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Artilharia</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Gols</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in artilharia %}
                                <tr>
                                    <td>{{ atleta.nome}}</td>
                                    <td>{{ atleta.gols }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="#">Ver lista completa</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Assistencias</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Assis.</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in passadores %}
                                {% if atleta.assistencia  %}
                                
                                {% endif %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.assistencia }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="#">Ver lista completa</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Roubadas</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Roubadas</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in ladroes %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.roubo }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="#">Ver lista completa</a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Defesas</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Defesas.</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in defesas %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.defesa }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="#">Ver lista completa</a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Jogos Disputados</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Jogos</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in jogos_jogados %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.jogos_realizados }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="#">Ver lista completa</a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Minutos Jogados</span>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Jogos</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for atleta in minutos %}
                                <tr>
                                    <td>{{ atleta.nome }}</td>
                                    <td>{{ atleta.minutos }}</td>
                                </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    <a href="#">Ver lista completa</a>
                </div>
            </div>
        </div>

    </div>



{% endblock %}