{% extends 'base.html' %}
{% block title %}Realmatismo Fc {% endblock %}
{% block main %}
{% load static %}

     <style>
        @import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  background-color: #f0f0f0;
}
h4, h5 {
  font-family: 'Pacifico', cursive;
}

h4 {
  color : #40a8a7;
  /* Turquesa oscuro: color : #0D8080;*/
}

h5 {
  /*color : #40a8a7;*/
  color : #FF9900;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}

.card-info, .card__meta a {
    color: #3299BB !important;
    display: inline-flex;
    vertical-align: middle;
    line-height: 2;
    font-size: 1rem;
}
.card__meta i.small {
    font-size: 1.5rem;
}
.card .card-content .card-title {
    line-height: 34px;
}
.card__date {
    background: #08c;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    padding-top: 7px;
}
.card__date__day {
  display: block;
  font-size: 14px;
}
.card__date__month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card .card-content .card-title {
    color: #0D8080 !important;
    line-height: 18px;
}

.card .card-title {

    font-size: 18px;
    font-weight: 400;
}

.card .card-content p{
  color: #1E1E1E;
  font-size: 13px;
}

.collapsible{
  background: #fff;
}

.card-row {
  margin-bottom: 4px;
    margin-top: 4px;
}
.card-action i {
    vertical-align: text-bottom;
    font-size: 21px;
}



.collapsible-header {
    background-color: #3299BB;
    color: #fff;
}

.filter-container ul {
    padding: 1rem 2rem;
}

.filter-container ul li {
    display: block;
    padding: 16px 0 0;
}

.search-title-filter {
  background-color: #3299BB;
  color: #fff;
}

nav  {
    background-color: #40a8a7;
    border-color: #E7E7E7;

}

nav ul>li>a, nav .brand-logo  {
  color: #fff;
}

nav .brand-logo {
  font-size: 1.4em !important;
}

#container {
  padding: 20px 10px;
}
    </style>



<div class="row">

     <div class="col s12 m6 l6">
        <div class="card hoverable z-depth-3">
            <div class="card-content" style="background: linear-gradient(4deg, #f3f1ee 90%, #ff9800 100%);">
                 <span class="card-title center">Desempenho
                     <hr class="deep-orange">
                 </span>

                <span style="margin: 10px; padding: 10px;" >
                    Aproveitamento:
                </span>
                <span style="margin: 10px; padding: 10px; color: {% if teste >= 50 %}green{% else %}red{% endif %}" >
                    {{ teste }}%
                </span>
                <div class="clearfix"></div>

                 <span style="margin: 10px; padding: 10px;" >
                    Sequência Vitória :
                </span>
                <span style="margin: 10px; padding: 10px;" >
                    {{ sequencia }}
                </span>

            </div>
        </div>
     </div>

    <div class="col s12 m6 l6">
        <div class="card hoverable z-depth-3">
            <div class="card-content"  style="background: linear-gradient(4deg, #f3f1ee 90%, #ff9800 100%);">
                 <span class="card-title center">Últimos Resultados
                     <hr class="deep-orange">
                 </span>
                <ul class="pagination">
                    {% for p in performace %}
                        <li>
                        <div class="z-depth-1 card {% if p == 'V' %}green accent-3{% elif p == 'D'%}red lighten-1{% else %}yellow lighten-1{% endif %}">
                            <h6 style="margin: 10px; padding: 10px">{{ p }}</h6>
                        </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


          <!-- End of card -->

    <div class="col s12 m6 l6">
        <div class="card hoverable z-depth-3">
            <div class="card-content" style="background: linear-gradient(4deg, #f3f1ee 90%, #ff9800 100%);">
                <span class="card-title">Próximo Jogo</span>
                    {% if proximos_jogos.count > 0 %}
                        <ul class="collection" style="border: none">
                        {% for jogo in proximos_jogos %}
                            <li class="collection-item avatar" style="background: linear-gradient(45deg, #f3f1ee 100%, #ff9800 0%);">
                                <a href="{% url 'jogo' jogo.pk %}" style="text-decoration: none;color: black">
                              <img src="media/{{ jogo.adversario.escudo_adversario }}" alt="img-adv" class="circle">
                              <span class="title">{{ jogo.adversario.nome }}</span>
                                <br>
                              <p><b style="color: orangered">Data:</b> {{ jogo.data }} <br>
                                  <b style="color: orangered">Local:</b> {{ jogo.local.nome }}<br>
                                  <b style="color: orangered">Info:</b> {{ detalhes_ultimo }}
                              </p>
                              </a>
                            </li>
                        {% endfor %}
                          </ul>
                    {% else %}
                        Sem Jogo Previsto.
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="col s12 m6 l6">
        <div class="card hoverable z-depth-3" >
            <div class="card-content" style="background: linear-gradient(4deg, #f3f1ee 90%, #ff9800 100%);">
                <span class="card-title">Último Jogo</span>
                    {% if jogos_anteriores.count > 0 %}
                        <ul class="collection" style="border: none">
                        {% for jogo in jogos_anteriores %}
                            <li class="collection-item avatar" style="background: linear-gradient(45deg, #f3f1ee 100%, #ff9800 0%);">
                                <a href="{% url 'jogo' jogo.pk %}" style="text-decoration: none;color: black">
                                  <img src="media/{{ jogo.adversario.escudo_adversario }}" alt="" class="circle">
                                  <span class="title">{{ jogo.adversario.nome }}</span>
                                  <p>
                                      <b style="color: orangered">Data:</b> {{ jogo.data }} <br>
                                      {% if jogo.placar_real is not None %}
                                          <b style="color: orangered">Placar:</b> {{ jogo.placar_real }} X {{ jogo.placar_adversario }}
                                      {% else %}
                                          Jogo não Realizado.
                                      {% endif %}

                                  </p>
                                </a>
                            </li>
                        {% endfor %}
                          </ul>
                    {% else %}
                        Sem Jogo Realizado.
                    {% endif %}
            </div>
        </div>
    </div>

    <div class="col s12 m6 l6">
        <div class="card hoverable z-depth-3" style="background: linear-gradient(4deg, #f3f1ee 90%, #ff9800 100%);">
            <div class="card-content">
                <span class="card-title">Notícias</span>
                    {% if noticias.count > 0 %}
                        <ul class="collection" style="border: none">
                        {% for noticia in noticias %}
                            <li class="collection-item">
                                <div class="row">

                                    <div class="col s9">
                                        <div class="left-align">
                                            <span class="title">{{ noticia.titulo }} / {{ noticia.data_inclusao|date:"d M Y" }}</span>
                                        </div>
                                    </div>

                                    <div class="col s3">
                                        <div class="center-align">
                                            <a href="{% url 'noticia' noticia.pk %}" class="center" style="text-decoration: none;color: black">
                                                <i class="fas fa-newspaper fa-lg" aria-hidden="true"></i>Detalhes</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                          </ul>
                    {% else %}
                        Sem Notícias
                    {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}