{% extends 'base.html' %}
{% load static %}
{% block title %}{{ jogo.adversario}}-{{ jogo.data }}|Realmatismo Fc {% endblock %}
{% block main %}
   <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                         {% if jogo.placar_real is None %}
                             Jogo não realizado.
                             {% else %}

                             <h5 class="center" >
                                 <span style="color: orange">Dados do jogo</span>
                             </h5>

                             <hr style="color: orange"/>

                             <div class="row">
                                 <div class="col s8 align-left" style="font-weight: bold; font-size: large">
                                     Realmatismo FC
                                 </div>
                                 <div class="col s4">
                                     <div class="z-depth-1 card center-align">
                                              <span>{{jogo.placar_real  }}</span>
                                     </div>
                                 </div>
                             </div>

                             <div class="row">
                                 <div class="col s8 align-left" style="font-weight: bold; font-size: large">
                                     {{ jogo.adversario.nome }}
                                 </div>
                                 <div class="col s4">
                                     <div class="z-depth-1 card center-align">
                                              <span>{{ jogo.placar_adversario }}</span>
                                     </div>
                                 </div>
                             </div>

                             <div class="row">
                                 <div class="col s8 align-left" style="font-weight: bold; font-size: large">
                                     Local:
                                 </div>
                                 <div class="col s4">
                                     <span>{{ jogo.local }}</span>
                                 </div>
                             </div>

                             <div class="row">
                                 <div class="col s8 align-left" style="font-weight: bold; font-size: large">
                                     Data:
                                 </div>
                                 <div class="col s4">
                                     <span>{{ jogo.data|date:"d M Y" }}</span>
                                 </div>
                             </div>

                             <hr class="orange"/>

                                <div class="row">
                                    <h5 class="center">
                                        <span style="color: orange">Participantes</span>
                                    </h5>
                                     <table class="striped">
                                        <thead>
                                            <th>Nome</th>
                                            <th>G</th>
                                            <th>A</th>
                                        </thead>
                                         <tbody>
                                    {% for t in jogo.jogadores.all %}
                                            <tr>
                                                <td>
                                                    {{ t.atleta.nome }}
                                                </td>
                                                <td>
                                                    {% if t.gols is not None %}
                                                        {{ t.gols }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if t.asssitencia is not None %}
                                                        {{ t.asssitencia }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% endfor %}
                                     </tbody>
                                     </table>
                                </div>
                         {% endif %}
                </div>
            </div>
        </div>
   </div>
{% endblock %}