{% extends 'base.html' %}
{% block title %}Jogos|Realmatismo Fc {% endblock %}
{% block main %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Top Artilharia</span>
                    {% if jogos.count > 0 %}
                        <ul class="collapsible">
                            {% for jogo in jogos %}
                                <li>
                                  <div class="collapsible-header">
                                      REALMATISMO FC X {{ jogo.adversario }}
                                  </div>
                                  <div class="collapsible-body">
                                    {{ jogo.data }}
                                  </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Sem Jogos
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}