{% extends 'base.html' %}
{% block title %}Jogos|Realmatismo Fc {% endblock %}
{% block main %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Jogos</span>
                    {% if jogos.count > 0 %}
                        <ul class="collection">
                            {% for jogo in jogos %}
                                <li class="collection-item">
                                      <a href="{% url 'jogo' jogo.pk %}" style="text-decoration: none;color: black">
                                        <h6 class="center-align">  REALMATISMO FC
                                          {% if jogo.placar_real is not None %}
                                            {{ jogo.placar_real }}
                                          {% endif %}
                                          X
                                          {% if jogo.placar_adversario is not None %}
                                            {{ jogo.placar_adversario }}
                                          {% endif %}
                                          {{ jogo.adversario.nome }}
                                        </h6>
                                      </a>
                                </li>

                            {% endfor %}
                        </ul>
                    {% else %}
                        Sem Jogos
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}