{% extends 'base.html' %}
{% load static %}
{% block title %}{{ jogo.adversario}}-{{ jogo.data }}|Realmatismo Fc {% endblock %}
{% block main %}
   <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                         {% if jogo.placar_real is None %}
                             Jogo não realizado.
                             {% else %}
                             <h5 class="center">Dados do jogo</h5><br>
                             <hr class="deep-orange"/>
                                <div class="row">
                                    <div class="col s4">
                                        <div class="center">
                                            <span>Realmatismo FC</span>
                                        </div>
                                    </div>

                                    <div class="col s1">
                                         <div class="center">
                                            <span>{{jogo.placar_real  }}</span>
                                         </div>
                                    </div>

                                    <div class="col s2">
                                      <div class="center">
                                          <span> X </span>
                                      </div>
                                    </div>

                                    <div class="col s1">
                                         <div class="center">
                                            <span>{{ jogo.placar_adversario }}</span>
                                         </div>
                                    </div>
                                    <div class="col s4">
                                         <div class="center">
                                            <span>{{ jogo.adversario.nome }}</span>
                                         </div>
                                    </div>
                                </div>

                                <div class="row">
                                    Local: {{ jogo.local }}
                                </div>
                                <div class="row">
                                    Data: {{ jogo.data|date:"d M Y" }}
                                </div>

                                <hr class="deep-orange"/>

                                <div class="row">
                                    <h5 class="center">Participantes: </h5><br>
                                     <table>
                                        <thead>
                                            <th>Nome</th>
                                            <th>G</th>
                                            <th>A</th>
                                        </thead>
                                         <tbody>
                                    {% for t in jogo.jogadores.all %}
                                            <tr>
                                                <td>
                                                    {{ t.atleta.nome }}
                                                </td>
                                                <td>
                                                    {% if t.gols is not None %}
                                                        {{ t.gols }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if t.assistencia is not None %}
                                                        {{ t.asssitencia }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% endfor %}
                                     </tbody>
                                     </table>
                                </div>
                         {% endif %}

                </div>
            </div>
        </div>
   </div>
{% endblock %}