{% extends 'base.html' %}
{% block main %}
    <div class="row">
        <div class="col s12 m12">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Estatisticas
                        <hr class="deep-orange">
                    </span>
                
                    <table>
                        <tr>
                            <th>J</th>
                            <th>V</th>
                            <th>E</th>
                            <th>D</th>
                            <th>GP</th>
                            <th>GS</th>
                            <th>S</th>
                        </tr>
                        <tr>
                            <td style="color: dimgrey">{{ total }}</td>
                            <td style="color: green">{{ vitoria }}</td>
                            <td style="color:dimgrey">{{ empate }}</td>
                            <td style="color: red">{{ derrota }}</td>
                            <td style="color: green">{{ gols_favor }}</td>
                            <td style="color: red">{{ gols_contra }}</td>
                            <td style="color: {% if saldo > 0 %}green{% else %}red{% endif %}">
                                {{ saldo }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 l4">

             <div class="card hoverable">
                <div class="card-content">
                     <span class="card-title center">Últimos Jogos
                         <hr class="deep-orange">
                     </span>
                    <ul class="pagination">

                            {% for p in performace %}
                                <li>
                                <div class="z-depth-1 card {% if p == 'V' %}green accent-3{% elif p == 'D'%}red lighten-1{% else %}yellow lighten-1{% endif %}">
                                    <h6 style="margin: 10px; padding: 10px">{{ p }}</h6>
                                </div>
                                </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">Curiosidades <hr class="deep-orange"></span>
                    Maior Vitoria: {{ maior_vitoria }} <br>
                    Maior Derrota: {{ maior_derrota }} <br>
                    Media idade: {{ media_idade }} <br>
                    Media de gols: {{ media_gols }} <br>
                    Media de gols Sofridos: {{ media_sofridos }}<br>
                    Jogador Mais Velho: {{ jogador_velho.nome }} ({{ jogador_velho.idade }}) <br>
                    Jogador Mais Novo:  {{ jogador_novo.nome }} ({{ jogador_novo.idade }})   <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}