{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'home' %}" class="brand-logo">Realmatismo FC</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'jogos' %}">Jogos</a></li>
        <li><a href="{% url 'atletas' %}">Atletas</a></li>
        <li><a href="{% url 'noticias' %}">Notícias</a></li>
      </ul>                  noticias
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'jogos' %}">Jogos</a></li>
    <li><a href="{% url 'atletas' %}">Atletas</a></li>
    <li><a href="{% url 'noticias' %}">Notícias</a></li>
  </ul>


<div class="container-fluid">
    {% block main %}{% endblock %}
</div>
    <!-- /.container-fluid -->

<!-- /#page-wrapper -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/meuJs.js' %}"></script>
</body>
</html>