{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylo.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <nav>
    <div class="nav-wrapper deep-orange">
      <a href="{% url 'home' %}" class="brand-logo">Realmatismo FC</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'jogos' %}">Jogos</a></li>
          <li><a href="{% url 'atletas' %}">Atletas</a></li>
          <li><a href="{% url 'noticias' %}">Notícias</a></li>
          <li><a href="{% url 'estatistica' %}">Tops</a></li>
          <li><a href="{% url 'galeria' %}">Fotos</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="slide-out">
      <li><div class="user-view">
      <div class="background deep-orange">

      </div>
      <a href="#user"><img class="circle" src="../media/adversarios/real.png" width="1000px"></a>
      <a href="#name"><span class="black-text name">Realmatismo FC</span></a>
      <a href="#email"><span class="black-text email">since 2015</span></a>
    </div></li>
      <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i>Inicio</a></li>
      <li><a href="{% url 'jogos' %}"><i class="fas fa-futbol fa-lg"></i> Jogos</a></li>
      <li><a href="{% url 'atletas' %}"><i class="fas fa-users fa-lg"></i> Atletas</a></li>
      <li><a href="{% url 'noticias' %}"><i class="fas fa-newspaper fa-lg"></i>Notícias</a></li>
      <li><a href="{% url 'estatistica' %}"><i class="fas fa-star fa-lg"></i>Tops</a></li>
      <li><a href="{% url 'galeria' %}"><i class="fas fa-photo fa-lg"></i>Tops</a></li>
  </ul>

<main>
<div class="container-fluid">
    {% block main %}{% endblock %}
</div>
</main>
  <footer class="page-footer blue-grey lighten-3">
     {% include 'footer.html' %}
 </footer>

    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/meuJs.js' %}"></script>
</body>
</html>