<div class="container">
    <div class="row">
        <a style="list-style: none" href="http://facebook.com/realamatismofc/">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a style="list-style: none" href="http://facebook.com/realamatismofc/">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</div>

<div class="footer-copyright ">
    <div class="container black-text text-darken-2">
        © 2018 Todos os direitos reservados para Diego Denzer versao 1.0.2
    </div>
</div>
